@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html {
  height: 100%;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  padding-top: 2em;
  height: 100%;
  background-image: url("../images/therapypage/repeating-molecules.jpg");
  background-repeat: repeat-y;
  background-position: center center;
}

.wrapperContainer {
  max-width: 56em;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 2em 0 2em;
  margin-bottom: -80px;
}

.space {
  height: 3em;
}

.banner {
  margin: 1em 0 2em 0;
}

.row {
  margin: 0;
}

hr {
  margin: 2em 0 2em 0;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding: 0;
}

a {
  text-decoration: none;
  color: #555;
}

ul.bulletList {
  margin: 0 0 20px 30px;
  list-style: disc;
}
ul.bulletList li {
  line-height: 1.3;
}
ul.bulletList li a {
  text-decoration: none;
}

p, li {
  color: #808080;
}

p {
  margin-bottom: 1em;
  line-height: 1.2;
  text-align: justify;
}
p a:hover {
  text-decoration: none;
}

p.subHeader {
  font-weight: bold;
  margin-top: 2em;
  font-size: 10px;
  margin-bottom: -1em;
}

p.signature {
  color: black;
  float: right;
  margin-top: .5em;
}

p.ingredients {
  font-size: .6em;
}

p.text {
  margin-top: 1em;
}

p.errorText {
  text-align: center;
  margin-top: 1em;
}

p.leftJustify {
  text-align: left;
}

span.pBold {
  font-weight: bold;
}

h1.text {
  text-align: center;
  font-weight: bold;
  clear: both;
  color: #808080;
}

h1 {
  text-align: center;
  font-weight: bold;
}

h2 {
  font-weight: bold !important;
  font-size: 1.2em;
  margin: 2em 0 2em 0;
  text-align: center;
  clear: both;
}

h3 {
  font-weight: bold !important;
  margin-bottom: 1em;
}

span.italics {
  font-style: italic;
}

span.rSymbol {
  font-size: .4em;
}

sup.rSymbol {
  font-size: .4em;
  vertical-align: 5px;
}

.responsive-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 60px;
  margin-bottom: 1em;
  overflow: hidden;
}

.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.quote {
  border-top: 1px solid #e1cc89;
  border-bottom: 1px solid #e1cc89;
  width: 100%;
  height: 100%;
  padding: .75em 0 .75em 0;
}

blockquote.style1 {
  font: 14px/20px italic Times, serif;
  padding: 8px;
  margin: 5px;
  background-image: url(../images/open.gif);
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 23px;
  margin-bottom: 2em;
}

blockquote.style1 span {
  background-image: url(../images/close.gif);
  background-repeat: no-repeat;
  background-position: bottom right;
  display: block;
}

.go-top {
  position: fixed;
  bottom: 9px;
  right: 10px;
  text-decoration: none;
  color: #FFF !important;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  padding: 10px 15px 10px 15px;
  display: none;
  border-radius: 5px;
  z-index: 900;
}

@media all and (max-width: 475px) {
  p, li {
    text-align: left;
  }

  p.smallerCopyForMobile {
    font-size: .8em;
  }
}
h1 {
  font-weight: lighter;
  margin-top: 1em;
  margin-bottom: 1em;
}

.banner img {
  margin: 0 0 0 0;
  max-width: 100%;
  height: auto;
}

.productHero {
  width: 220px;
  height: auto;
  margin: 2em auto;
  margin-bottom: 2em;
}

.companyLogo img {
  margin-bottom: 20px;
}

ul.contactSocial {
  float: right;
  width: 9.2em;
}
ul.contactSocial li {
  display: inline;
}
ul.contactSocial li a {
  color: #999999;
  text-decoration: none;
}
ul.contactSocial li:last-child {
  float: right;
  margin-left: 0em;
  margin-top: .286em;
  font-size: .8em;
}

@media all and (max-width: 475px) {
  ul.contactSocial {
    width: 5.8em;
  }
  ul.contactSocial li:first-child {
    margin-left: 1em;
  }
}
h1.lipTherapy,
p.csDailyMaintenance,
p.csTherapy,
p.dpTherapy,
p.csDailyLipMaintenance,
p.csHowToUse,
p.psHowToUse,
p.dpHowToUse,
p.csCauses,
p.psCauses,
p.csSymptoms,
p.psLipTherapy,
ul.psSymptomsList li p,
ul.dpSymptomsOne2up li p {
  font-family: Helvetica, sans-serif;
}

.slider {
  margin-top: 2em;
}

.tabs {
  margin-top: 1em;
}

a {
  outline: none;
}

a:hover, a:active, a:focus {
  outline: none;
}

input::-moz-focus-inner {
  border: 0;
}

.ui-accordion .ui-accordion-content .ui-widget {
  padding-bottom: 0px;
}

hr.redHR {
  border-top: 1px solid #C3002F;
  color: #C3002F;
  margin: 1.5em 0 1.5em 0;
}

h1.lipTherapy {
  color: #C3002F;
  font-weight: lighter !important;
  font-size: 22px;
  letter-spacing: 4px;
  margin-top: .5em;
}

h1.productHeader {
  color: #C3002F;
  font-weight: lighter !important;
  font-size: 26px;
  margin-bottom: 1em;
  letter-spacing: 3.5px;
}

p.csDailyMaintenance {
  text-align: center;
  padding: 0 2.35em 0 2.35em;
}

p.csDailyLipMaintenance {
  text-align: center;
  padding: 2em 6.35em 0 6.35em;
}

p.csTherapy {
  text-align: center;
  padding: 2em 6em 0 6em;
  margin-bottom: 0;
}

p.csHowToUse {
  text-align: left;
  padding: 0 1em 0 1.7em;
}

p.csCauses {
  text-align: center;
  padding: 0 6em 0 6em;
}

p.psCauses {
  text-align: center;
  padding: 0 1em 0 1em;
}

p.csSymptoms {
  text-align: center;
  font-size: 13px;
}

.csSymptomList {
  display: inline;
}

p.psLipTherapy {
  text-align: center;
  padding: 0 2.5em 0 2.5em;
}

p.psHowToUse,
ul.dpSymptoms1up p {
  text-align: center;
}

ul.psSymptomsList li {
  display: inline-block;
  width: 19.5%;
}
ul.psSymptomsList li p {
  font-size: 13px;
  text-align: center;
}

ul.csSymptomsList {
  margin: 0 auto;
  width: 400px;
}
ul.csSymptomsList li {
  display: inline-block;
  width: 130px;
}
ul.csSymptomsList p {
  font-size: 13px;
  text-align: center;
}

p.psCauses {
  padding: 0 7em 0 7em;
}

p.dpTherapy {
  text-align: center;
  padding: 0 2.25em 0 2.25em;
}

p.dpHowToUse {
  text-align: center;
  padding: 0 5em 0 5em;
}

ul.dpSymptomsOne,
ul.dpSymptomsTwo {
  width: 70%;
  margin: 0 auto;
}

ul.dpSymptomsOne li,
ul.dpSymptomsTwo li {
  display: inline-block;
  width: 24.3%;
}
ul.dpSymptomsOne li p,
ul.dpSymptomsTwo li p {
  font-size: 13px;
  text-align: center;
  margin-bottom: 0.5em;
}

ul.dpSymptomsOne {
  margin-bottom: 1em;
}

ul.dpSymptomsOne2up li p,
ul.dpSymptomsTwo2up li p,
ul.dpSymptomsThree2up li p,
ul.dpSymptomsFour2up li p,
ul.dpSymptoms1up li p,
ul.psSymptomsList {
  font-size: 13px;
}

span {
  font-weight: bold;
}

/* jQuery overrides */
.ui-widget-header,
.ui-widget-content {
  background: none;
  border: none;
}

ul.navTabs li.lastTab {
  margin-right: 0;
}

ul.navTabs li:nth-child(-n+2) {
  margin-right: 2.35em;
}

ul.navTabs li a img {
  vertical-align: -14px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
  cursor: pointer;
}

.ui-widget-header .ui-state-default {
  border: none;
}

.ui-tabs .ui-tabs-nav {
  margin-bottom: 1em;
}

.ui-tabs .ui-tabs-panel {
  border: 2px solid #C3002F;
  background: #FAFAFA;
}

.coldSore {
  cursor: pointer;
  height: 301px;
  width: 250px;
  margin-bottom: 0;
  background-image: url("../images/therapypage/Image-Output-Setup-Desktop.CS.LR.png");
}

.psoriasis {
  cursor: pointer;
  height: 301px;
  width: 250px;
  margin-bottom: 0;
  background-image: url("../images/therapypage/Image-Output-Setup-Desktop.PS.LR.png");
}

.dermalPain {
  cursor: pointer;
  height: 301px;
  width: 250px;
  margin-bottom: 0;
  background-image: url("../images/therapypage/Image-Output-Setup-Desktop.DP.LR.png");
}

.coldSoreDimmed {
  cursor: pointer;
  height: 263px;
  width: 250px;
  margin-bottom: 0;
  background-image: url("../images/therapypage/Image-Output-Setup-Desktop-Dimmed.CS.LR.png");
}

.psoriasisDimmed {
  cursor: pointer;
  height: 263px;
  width: 250px;
  margin-bottom: 0;
  background-image: url("../images/therapypage/Image-Output-Setup-Desktop-Dimmed.PS.LR.png");
}

.dermalPainDimmed {
  cursor: pointer;
  height: 263px;
  width: 250px;
  margin-bottom: 0;
  background-image: url("../images/therapypage/Image-Output-Setup-Desktop-Dimmed.DP.LR.png");
}

/* end jQuery overrides */
@media screen and (max-width: 992px) {
  .ui-tabs .ui-tabs-nav {
    margin: 0 auto;
    margin-bottom: 1em;
  }

  ul.navTabs {
    width: 577px;
  }

  .coldSore {
    cursor: pointer;
    width: 167px;
    height: 206px;
    margin-bottom: 0;
    background-image: url("../images/therapypage/Image-Output-Setup.Tablet.V1.CS.LR.png");
  }

  .psoriasis {
    cursor: pointer;
    width: 167px;
    height: 206px;
    margin-bottom: 0;
    background-image: url("../images/therapypage/Image-Output-Setup.Tablet.V1.PS.png");
  }

  .dermalPain {
    cursor: pointer;
    width: 167px;
    height: 206px;
    margin-bottom: 0;
    background-image: url("../images/therapypage/Image-Output-Setup.Tablet.V1.DP.png");
  }

  .coldSoreDimmed {
    cursor: pointer;
    width: 167px;
    height: 176px;
    margin-bottom: 0;
    background-image: url("../images/therapypage/Image-Output-Setup-Dimmed.Tablet.V1.CS.LR.png");
  }

  .psoriasisDimmed {
    cursor: pointer;
    width: 167px;
    height: 176px;
    margin-bottom: 0;
    background-image: url("../images/therapypage/Image-Output-Setup-Dimmed.Tablet.V1.PS.png");
  }

  .dermalPainDimmed {
    cursor: pointer;
    width: 167px;
    height: 176px;
    margin-bottom: 0;
    background-image: url("../images/therapypage/Image-Output-Setup-Dimmed.Tablet.V1.DP.png");
  }

  p.csHowToUse {
    margin-bottom: 0;
  }

  .howtoUseRowOne,
  .howtoUseRowTwo {
    margin-bottom: 1em;
  }

  ul.csSymptomsList li {
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 1em;
  }

  ul.psSymptomsList li,
  ul.dpSymptoms1up li {
    display: block;
    margin: 0 auto;
    margin-bottom: 1em;
  }

  ul.dpSymptomsOne2up,
  ul.dpSymptomsTwo2up,
  ul.dpSymptomsThree2up,
  ul.dpSymptomsFour2up {
    width: 287px;
    margin: 0 auto;
  }
  ul.dpSymptomsOne2up li,
  ul.dpSymptomsTwo2up li,
  ul.dpSymptomsThree2up li,
  ul.dpSymptomsFour2up li {
    display: inline-block;
    margin-bottom: 1em;
  }
  ul.dpSymptomsOne2up li p,
  ul.dpSymptomsTwo2up li p,
  ul.dpSymptomsThree2up li p,
  ul.dpSymptomsFour2up li p {
    text-align: center;
  }

  ul.dpSymptomsOne2up li:first-child,
  ul.dpSymptomsTwo2up li:first-child,
  ul.dpSymptomsThree2up li:first-child,
  ul.dpSymptomsFour2up li:first-child {
    margin-right: 4.2em;
  }
}
@media screen and (max-width: 768px) {
  body {
    background: none;
  }

  p.mobileInstruction {
    text-align: center;
    font-size: 13px;
    margin-top: .5em;
  }

  h1.productHeader {
    font-size: 23px;
    margin-bottom: 0;
  }

  p.csHowToUse {
    margin: 1em 0 0 0;
  }

  .howtoUseRowOne,
  .howtoUseRowTwo,
  .csSymptomL,
  .csSymptomM {
    margin-bottom: 1em;
  }

  p.csTherapy,
  p.csDailyLipMaintenance,
  p.csDailyMaintenance,
  p.psLipTherapy,
  p.dpTherapy {
    padding: 2em 0 0 0;
  }

  .csSymptomL,
  .csSymptomR,
  p.dpHowToUse,
  p.csCauses,
  p.psCauses {
    padding: 0;
  }

  ul.psSymptomsList li {
    width: 100%;
  }

  ul.csSymptomsList {
    width: 130px;
  }

  .ui-accordion .ui-accordion-header {
    margin: 0 0 1em 0;
    padding: 0;
  }

  .ui-state-default {
    border: none;
    background: #fff;
  }

  .ui-state-active .ui-icon, .ui-button:active .ui-icon {
    background-image: none;
  }

  .ui-icon {
    display: none;
  }

  .csIngredients li img,
  .psIngredients li img,
  .dpIngredients li img {
    width: 200px;
  }
}
ul.sitemap {
  width: 6.6em;
  float: left;
  margin-left: 5em;
}
ul.sitemap li a {
  text-decoration: none;
  line-height: 1.7;
}

.thanksText {
  text-align: center;
}

@media all and (max-width: 806px) {
  ul.sitemap {
    margin: 0 auto;
    float: none;
  }
}
hr.aboutUs {
  padding: 0;
  border: none;
  border-top: 1px solid #808080;
  color: #808080;
  text-align: center;
}
hr.aboutUs:after {
  content: "About Us";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1em;
  font-weight: bold;
  padding: 0 0.75em;
  background: white;
}

hr.history {
  padding: 0;
  border: none;
  border-top: 1px solid #808080;
  color: #808080;
  text-align: center;
}
hr.history:after {
  content: "History";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1em;
  font-weight: bold;
  padding: 0 0.75em;
  background: white;
}

hr.farmOperations {
  padding: 0;
  border: none;
  border-top: 1px solid #808080;
  color: #808080;
  text-align: center;
}
hr.farmOperations:after {
  content: "Farm Operations";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1em;
  font-weight: bold;
  padding: 0 0.75em;
  background: white;
}

hr.quality {
  padding: 0;
  border: none;
  border-top: 1px solid #808080;
  color: #808080;
  text-align: center;
}
hr.quality:after {
  content: "Farm Operations";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1em;
  font-weight: bold;
  padding: 0 0.75em;
  background: white;
}

hr.safety {
  padding: 0;
  border: none;
  border-top: 1px solid #808080;
  color: #808080;
  text-align: center;
}
hr.safety:after {
  content: "Safety";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1em;
  font-weight: bold;
  padding: 0 0.75em;
  background: white;
}

hr.coreScience {
  padding: 0;
  border: none;
  border-top: 1px solid #808080;
  color: #808080;
  text-align: center;
}
hr.coreScience:after {
  content: "Core Science";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1em;
  font-weight: bold;
  padding: 0 0.75em;
  background: white;
}

hr.realPromises {
  padding: 0;
  border: none;
  border-top: 1px solid #808080;
  color: #808080;
  text-align: center;
}
hr.realPromises:after {
  content: "Real Promises";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1em;
  font-weight: bold;
  padding: 0 0.75em;
  background: white;
}

hr.realResults {
  padding: 0;
  border: none;
  border-top: 1px solid #808080;
  color: #808080;
  text-align: center;
}
hr.realResults:after {
  content: "Real Results";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1em;
  font-weight: bold;
  padding: 0 0.75em;
  background: white;
}

hr.realIngredients {
  padding: 0;
  border: none;
  border-top: 1px solid #808080;
  color: #808080;
  text-align: center;
}
hr.realIngredients:after {
  content: "Real Breakthrough Ingredients";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1em;
  font-weight: bold;
  padding: 0 0.75em;
  background: white;
}

hr.advancement {
  padding: 0;
  border: none;
  border-top: 1px solid #808080;
  color: #808080;
  text-align: center;
}
hr.advancement:after {
  content: "Advancement";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1em;
  font-weight: bold;
  padding: 0 0.75em;
  background: white;
}

hr.newTechnology {
  padding: 0;
  border: none;
  border-top: 1px solid #808080;
  color: #808080;
  text-align: center;
}
hr.newTechnology:after {
  content: "New Technology";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1em;
  font-weight: bold;
  padding: 0 0.75em;
  background: white;
}

hr.productDevelopment {
  padding: 0;
  border: none;
  border-top: 1px solid #808080;
  color: #808080;
  text-align: center;
}
hr.productDevelopment:after {
  content: "Product Development";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1em;
  font-weight: bold;
  padding: 0 0.75em;
  background: white;
}

hr.clinical {
  padding: 0;
  border: none;
  border-top: 1px solid #808080;
  color: #808080;
  text-align: center;
}
hr.clinical:after {
  content: "Clinical";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1em;
  font-weight: bold;
  padding: 0 0.75em;
  background: white;
}

hr.clinicalTesting {
  padding: 0;
  border: none;
  border-top: 1px solid #808080;
  color: #808080;
  text-align: center;
}
hr.clinicalTesting:after {
  content: "NAE-8® Safety and Clinical Testing";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1em;
  font-weight: bold;
  padding: 0 0.75em;
  background: white;
}

hr.products {
  padding: 0;
  border: none;
  border-top: 1px solid #808080;
  color: #808080;
  text-align: center;
}
hr.products:after {
  content: "Products";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1em;
  font-weight: bold;
  padding: 0 0.75em;
  background: white;
}

hr.currentDistribution {
  padding: 0;
  border: none;
  border-top: 1px solid #808080;
  color: #808080;
  text-align: center;
}
hr.currentDistribution:after {
  content: "Current Product Distribution";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1em;
  font-weight: bold;
  padding: 0 0.75em;
  background: white;
}

hr.internationalCompliance {
  padding: 0;
  border: none;
  border-top: 1px solid #808080;
  color: #808080;
  text-align: center;
}
hr.internationalCompliance:after {
  content: "Current Product International Compliance";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1em;
  font-weight: bold;
  padding: 0 0.75em;
  background: white;
}

hr.news {
  padding: 0;
  border: none;
  border-top: 1px solid #808080;
  color: #808080;
  text-align: center;
}
hr.news:after {
  content: "News";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1em;
  font-weight: bold;
  padding: 0 0.75em;
  background: white;
}

hr.copy {
  padding: 0;
  border: none;
  border-top: 1px solid #808080;
  color: #808080;
  text-align: center;
}
hr.copy:after {
  content: "Copyright ®";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1em;
  font-weight: bold;
  padding: 0 0.75em;
  background: white;
}

hr.trademarks {
  padding: 0;
  border: none;
  border-top: 1px solid #808080;
  color: #808080;
  text-align: center;
}
hr.trademarks:after {
  content: "Trademarks™";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1em;
  font-weight: bold;
  padding: 0 0.75em;
  background: white;
}

hr.use {
  padding: 0;
  border: none;
  border-top: 1px solid #808080;
  color: #808080;
  text-align: center;
}
hr.use:after {
  content: "Use of Site";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1em;
  font-weight: bold;
  padding: 0 0.75em;
  background: white;
}

hr.privacy {
  padding: 0;
  border: none;
  border-top: 1px solid #808080;
  color: #808080;
  text-align: center;
}
hr.privacy:after {
  content: "Privacy";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1em;
  font-weight: bold;
  padding: 0 0.75em;
  background: white;
}

hr.warranties {
  padding: 0;
  border: none;
  border-top: 1px solid #808080;
  color: #808080;
  text-align: center;
}
hr.warranties:after {
  content: "Warranties";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1em;
  font-weight: bold;
  padding: 0 0.75em;
  background: white;
}

.push {
  height: 80px;
}

.footerRow {
  clear: both;
  height: 80px;
  margin-top: 4em;
}

ul.footerList {
  list-style: none;
  font-size: .8em;
  width: 20em;
  float: right;
  margin-bottom: 1em;
}
ul.footerList li {
  height: 15px;
  display: inline;
}
ul.footerList li a {
  color: #808080;
  text-decoration: none;
}
ul.footerList .pipe {
  font-size: .9em;
  color: #808080;
  margin-right: 0.1em;
  margin-left: 0.4em;
}

.footerAllRights, .footerCopyright, .footerList {
  margin-bottom: 1em;
  font-size: .8em;
}

.footerCopyright {
  text-align: left;
}

.footerAllRights {
  text-align: center;
}

@media all and (max-width: 992px) {
  .footerCopyright {
    text-align: center;
  }

  .footerAllRights {
    text-align: center;
    padding-right: 0;
  }

  ul.footerList {
    float: none;
    width: 20em;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=styles.css.map */
