@media screen and (min-width: 896px) {
	
#nav-container {
	width: 832px;
	margin: 10px auto;
}
	
/* -------- primary nav -------- */
	nav ul li {
		float: left;
		display: inline;
		width: 82.2px;
		position: relative;
		margin: 0;
		background-color: #CCC;
	}

	nav ul li:hover {
		background-color: #999;
	}
	
	/* style the first level slightly different */
	nav > ul > li {
		margin: 0 1px 0 0;
	}

	nav ul li a {
		color: #fff;
		padding: 15px 7px;
		display: block;
		text-align: center;
	}

	nav ul li a:hover {
		color: #fff;
	}

	nav ul li a:hover {
		text-decoration: none;
		background: #808080;
		-webkit-transition: all .25s ease;
		-moz-transition: all .25s ease;
		-o-transition: all .25s ease;
		transition: all .25s ease;	
	}
	
	/* style the first level slightly different */
	nav > ul > li {
		background: #A1D2E6;
	}

	nav > ul > li > a {
		text-decoration: none;
	}
	
/* -------- secondary nav -------- */
	nav ul li ul {
		-webkit-transition: all .25s ease;
		-moz-transition: all .25s ease;
		-o-transition: all .25s ease;
		transition: all .25s ease;
		position: absolute;
		max-height: 0;
		overflow: hidden; 
		margin: -20px 0 0 0;
		opacity: 0;
		-webkit-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.35);
		-moz-box-shadow:    1px 1px 2px rgba(50, 50, 50, 0.35);
		box-shadow:         1px 1px 2px rgba(50, 50, 50, 0.35);
	}
	nav ul li:hover > ul {
		max-height: 1000px;
		overflow: visible;
		margin: 0;
		opacity: 1;
	}
	nav ul li ul li {
		background-color:#CCC;
		border-top: 1px dashed #FFFFFF;
	}
	
	/* add arrow to parent items */
	ul li ul li a.parent {
		background: url(../images/arrow-parent.gif) no-repeat 97% 50%;
	}
	
/* ------ tertiary nav ------- */
	nav ul li ul li ul {
		float: left;
		position: absolute;
		left: 175px;
		top: 0; 
		width: 0;
		margin: 0 0 0 -20px;
	}
	nav ul li ul li:hover > ul {
		margin: 0;
		width: 175px;
	}
	nav ul li ul li ul li {
		background-color: #CCC;
	}
/* ------- quaternary nav ----- */
	nav ul li ul li ul li ul li {
		background-color: #CCC;
	}
}
	
/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 896px) {

		/*img {
			max-width: 250px;
			height:auto !important;
		}*/

/* --------- nav styles --------- */
		
	a.toggleMenu {
		/*padding: 10px;*/
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
		padding-right: 10px;			
		margin: 10px 0px 0 0px;
		text-decoration: none;
		background-color: #A1D2E6;
		color: #fff;
	}
	
	nav {
		margin: 0 10px 10px 10px;
	}
	nav ul li {
		list-style: none;
		border-top: dashed 1px #FFFFFF;
	}
	nav > ul > li {
		background-color: #808080;
	}
	nav ul li a {
		padding: 10px;
		display: block;
		text-decoration: none !important;
	}
	nav ul li ul { 
		max-height: 0; 
		overflow: hidden;
		padding: 0 20px 0px 20px; 
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-o-transition: all .5s ease;
		transition: all .5s ease;
	}
	nav > ul {  
		max-height: 0; 
		overflow: hidden; 
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-o-transition: all .5s ease;
		transition: all .5s ease;
	}
	nav ul li ul li a {
		background: url(../images/bullet-sub.gif) no-repeat 6px 8px;
		padding: 5px 5px 5px 18px;
	}
	nav > ul.active {
		max-height: 1000px;
	}
	nav ul li.active > ul {
		max-height: 1000px;
	}
	span.touch-btn { 
		/*display: inline;*/ 
		float: left; 
		/*transition: all .2s ease; 
		-webkit-transition: all .2s ease;*/
		/*background-color:#666;*/
		width: 33px;
		height: 25px;
		margin: 0 0 0 0;
		padding-right: 10px;
		/*padding: 2px;*/
		/*-webkit-border-radius: 30px;*/
		/*border-radius: 30px;*/
		text-align: center;
		font-family: arial, sans-serif;
		/*font-size: 14px;*/
		display: block;
		/*overflow: hidden;*/
		/* comment these lines to change the +/- to an arrow (see also comments below)*/
		text-indent: -9999px;
		background:url(../images/burger.gif) no-repeat; 
		/*background:url(../images/burger.gif) no-repeat 50% 2px #666;*/ 		
	}

/* Rotate arrow on click/tap */
nav ul li.active > a.parent span.touch-btn{
	/*-webkit-transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	transform-origin:50% 50%;
	-webkit-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	transform:rotate(180deg);*/
	/*background-position:50% -18px;*/ /* this line is only needed if +/- is used instead of arrows */
}

a.toggleMenu span.touch-btn{
	/*-webkit-transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	transform-origin:50% 50%;
	-webkit-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	transform:rotate(180deg);*/
	/*background-position:50% -18px;*/ /* this line is only needed if +/- is used instead of arrows */
}

a.toggleMenu.active span.touch-btn{
	/*background-position:49.75% 2px;*/ /* this line is only needed if +/- is used instead of arrows */
	/*-webkit-transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	transform-origin:50% 50%;
	-webkit-transform:rotate(0deg);
	-ms-transform:rotate(0deg);
	transform:rotate(0deg);*/
}
}

/* css rules for ipad portrait */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
	/* This fixes drop menus so they work on ipads */
	nav ul li ul { display:none;}
	nav ul li:hover > ul { display:block; }
}

/* css rules for ipad landscape */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
	/* This fixes drop menus so they work on ipads */
	nav ul li ul { display:none;}
	nav ul li:hover > ul { display:block; } 
}

/*@media screen and (max-width: 704px) {
	span.touch-btn {
		width: 81%;
	}
}

@media screen and (max-width: 702px) {
	span.touch-btn {
		width: 81%;
	}*/
}
